/* styles/Carousel.module.css */
.carouselContainer {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  min-width: 100%;
    height: 100%;
  box-sizing: border-box;
  padding: 20px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Example border for each slide */
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
