/* styles/Carousel.module.css */
.carouselContainer {
  position: relative;
  overflow: hidden;
    width: 100%;
margin-top: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  min-width: 80%;
    height: 100%;
  box-sizing: border-box;
  padding: 20px; /* Adjust padding as needed */
  border: 1px solid #ccc; 
border-radius: 20px;
margin-left: 10%;
background-color: #FF60E6;
  margin-right: 10%;

}

.prevButton,
.nextButton {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
}

.prevButton {
 
  margin: 5px;
}

.nextButton {
  right: 5px;
  margin: 5px;
}
